body{
    background-color: #1e1e1e;
    color: white;
    font-family: 'Inter', sans-serif;
}
.myColor{
    background-color: #1e1e1e;
    color:white;
}
select{
    margin-top:30px;
    font-size: 15px;
}

.form{
    height:40px;
}
.container{
    margin:50px;
}
.formElement{
    margin-top: 0px;
    width:150px;
    padding:10px;
}
form{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
#addUser{
    margin-top: 30px;;
}
input{
    width:400px !important;
    border:1px solid white;
    border-radius: 5px;
    margin-top:20px;
}

.user{
    display: flex;
    width:50%;
    justify-content:flex-start;
    padding:10px;
    margin-bottom:20px;
    border:1px solid white;
    border-radius: 5px;
}
.user div{
    margin-right: 5px;
    width:30%;
}
.user div:first-child{
    width:10%;
}
@media  screen and (max-width:768px) {
    .user{
        width:70%;
        font-size:10px;
    }
    
}